.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group__field {
  padding: 10px 16px;
  border: 1px solid var(--color-secondary);
  border-radius: 6px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  outline: none;
  transition: border-color 0.3s ease;
  background-color: var(--color-background);
  color: var(--color-text-main);
}

.input-group__field:focus {
  border-color: var(--color-primary);
}

.input-group__field--error {
  border-color: red;
}
