.product-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-price__current {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-brand-green);
}

.product-price__old {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-brand-light-gray);
  text-decoration: line-through;
}
