a {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  transition:
    color 0.2s ease-in-out,
    text-decoration 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-brand-green);
}

a:hover {
  color: var(--color-brand-green-hover);
  text-decoration: underline;
}

.link--secondary {
  color: var(--color-brand-dark);
}

.link--secondary:hover {
  color: var(--color-brand-green);
}

.link--muted {
  color: var(--color-brand-gray);
}

.link--muted:hover {
  color: var(--color-brand-dark);
}
