.checkbox {
  display: flex;
  align-items: center;
  gap: 0.625rem; 
  margin-bottom: 0.75rem; 
}

.checkbox__input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  accent-color: var(--color-brand-green); 
  border: 0.0625rem solid var(--color-brand-border);
  border-radius: 0.1875rem;
}

.checkbox__label {
  font-size: 0.875rem;
  color: var(--color-brand-gray);
  font-weight: 400;
  cursor: pointer;
  line-height: 1;
}